<h2> Viewers </h2><br/>
<% if @views.count == 0 %>
<h4> No one viewed your account</h4>
<% else %>
<h4><%= @views.count %> <%=  (@views.count == 1)? "person": "people"%> viewed your account in the past one week</h4><br/>
<div class="row">
  <div class="col-9">  
    <table class="table table-bordered table-hover"> 
      <thead>
        <tr>
          <th scope="col">Name</th>
        </tr>
      </thead>
      <tbody>
        <% @views.each do |view|%>
          <% if !(view.account == current_account)  %>
            <% if is_valid(view)%>
              <tr>  
              <td style="background-color: lightgreen;">
              <div class="row">
              <div class="col-md-10">
                <%= link_to view.account.full_name, account_path(id: view.account.id) %><br/>
                <span class="date text-black-50">Viewed <%= time_ago_in_words(view.created_at) %> ago</span>
              </div>
              <div class="text-right col-md-2">
              <%= link_to "x", view_path(view), method: :delete, class: 'btn btn-sm btn-danger'%>
              </div>               
                </div>
                </td>
              </tr>
            <% end %>
          <% end %>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
<% end %>