<nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="position: fixed;top: 0; width: 100%;z-index:1;">
    <div class="container">
        <%= link_to 'CONNECTED', root_path, class: 'navbar-brand' %>
        <% if current_account %> 
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item <%= 'like-active' if request.path == account_path(current_account) %>">
                        <%= link_to 'My Account', account_path(current_account), class: 'nav-link' %>
                    </li>
                    <li class="nav-item <%= 'like-active' if request.path == my_friends_path %>">
                    <%= link_to 'My Friends', my_friends_path, class: 'nav-link' %>
                </li>
                <li class="nav-item <%= 'like-active' if request.path == search_new_path %>">
                    <%= link_to 'Search', search_new_path, class: 'nav-link' %>
                </li>
                <li class="nav-item <%= 'like-active' if request.path == new_post_path %>">
                    <%= link_to 'New Post', new_post_path, class: 'nav-link' %>
                </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Profile
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <%= link_to edit_account_registration_path, class: 'dropdown-item' do %>
                            <%= fa_icon 'edit' %> Edit profile
                        <% end %>
                        
                        <%= link_to "Viewers", viewed_my_account_path(account_id: current_account), class: 'dropdown-item'%></td>
                        <div class="dropdown-divider"></div>
                        <%= link_to 'My Requests', requests_path, class: 'dropdown-item' %>
                        </div>
                    </li>
                    
                </ul>
                <ul class='navbar-nav ml-auto'>
                    <li class='nav-item user-name'>
                        <%= fa_icon 'user' %> <%= link_to current_account.full_name, account_path(current_account) %>
                        <% if current_account.company? %>
                            <i class="fa fa-check" style="color: #00FFFF;"></i>
                        <% end %>
                    </li>
                    <li class='nav-item'>
                        <%= link_to("Logout", destroy_account_session_path,
                            class: "btn btn-danger logout-button", method: :delete,  data: {confirm: 'Are you sure?'})%>
                    </li>
                </ul>
                
            </div>
        <% end %>
    </div>
</nav>